# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
@@ -0,0 +1,29 @@
###############
# Directories #
###############
.nuget
.vs
**/wwwroot/**
[M,m]yrtex.Project/appsettings.Development-*.json

**/node_modules
**/obj
**/bin
**/Debug
**/Content/logs
**/.vscode
**/.history
**/.idea
**/.angular
**/.idea
**/.project
**/.classpath
**/.c9
**/.sass-cache
**/connect.lock
**/coverage
**/typings
**/.settings
**/dist

###################
# compiled source #
###################
*.user
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.log
*.launch
*.sublime-workspace

# IDEs and editors

# Visual Studio Code
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db